/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    width: 1200px;
    margin: 60px auto;
    text-align: center;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float:right;
}

p.task{
    font-size: 14px;
    padding: 10px;
}

div.black-box{
    width: 350px;
    background-color: black;
    height: 100px;
    margin: 20px;
    color: white;
}

.main-text{
    font-size: 14px;
    margin-bottom: 30px;
}

img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

h2{
    font-size: 14px;
    margin-top:15px
}

a{
    text-decoration: none;
    color: rgb(0, 153, 255);
    margin-top: 10px;
}

h1{
    color: red;
    margin: 60px;
}
